<preference name=”ShowSplashScreenSpinner” value=”false” />
<preference name=”SplashScreen” value=”screen”/>
<preference name=”AutoHideSplashScreen” value=”false” />
<preference name=”SplashScreenDelay” value=”10000" />
<preference name=”FadeSplashScreen” value=”true” />
<preference name=”FadeSplashScreenDuration” value=”1.0" />