.welcome-card img {
  max-height: 25vh;
  overflow: hidden;
}

.logo {
  position: relative;
  display: block;
  margin: 15px 10px;
  float: left;
}

.homepage--page {
  --background: url('/assets/back-homepage.png') -72px 100px no-repeat;
}

.homepage--header {
  box-shadow: 0px 0px 15px rgba(0,0,0,0.15);
}

ion-card-title {
  font-size: 20px;
}

ion-card-header {
  padding-top: 14px;
  padding-bottom: 14px;
  background-color: #fff;
}

.homepage--welcome {
  padding: 26px 1%;
  text-align: center;
  font-family: 'Hand of Sean Pro';
  font-size: 26px;
  line-height: 30px;
}

ion-toolbar {
  --min-height: 70px;
}